<!-- <div class="commentContainer">
    <div class="fotoComment"></div>
    <div class='commentCont'>
        <div class="userName">{{userComments.user}}<div (click)='onDeleteComment(this)' class="deleteComment" *ngIf='isAdmin'>x</div></div>
        <div class="commentText">{{userComments.comment}}</div>
        
    </div>
</div> -->

<div class="userComment">
    <div class="userPictureComment"></div>
    <div class="commentText">Ipsum dolor sit amet, consectetuer adipiscing elit, sed
        diam nonummy nibh euismod Lorem ipsum dolor sit amet</div>
</div>