.userPictureComment{
    width: 5vw;
    height: 10vh;
    background-image: url('../../../assets/userProfileIcon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.userComment{
    display: flex;
    margin-top: 2vh;
}

.commentText{
    display: flex;
    align-items: center;
    height: 3.5vh;
    margin-top: 1.5vh;
    padding: 1vh 1vw 2vh 1vw;
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 0.5vw;
}

.eliminarPost{
    margin-left: 1vh;
    margin-top: 1.7vh;
    width: 1.8vw;
    height: 3.8vh;
    border: 0;
    background-image: url('../../../assets/eliminar.png');
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.editarPost{
    margin-left: 1vh;
    margin-top: 1.7vh;
    width: 1.8vw;
    height: 3.8vh;
    border: 0;
    background-image: url('../../../assets/editar.png');
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    cursor: pointer;
}