.userPictureComment{
    width: 5vw;
    height: 10vh;
    background-image: url('../../../assets/userProfileIcon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.userComment{
    display: flex;
    margin-top: 2vh;
}

.commentText{
    display: flex;
    margin-top: 1.5vh;
    padding: 1vh 1vw 2vh 1vw;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 0.5vw;
}

.eliminarPost{
    margin-left: 1vh;
    margin-top: 1.7vh;
    width: 1.8vw;
    height: 3.8vh;
    border-radius: 50%;
    background-color: cyan;
    border: 0;
    background-image: url('../../../assets/eliminar.png');
    background-position: center;
    background-size: 55% 55%;
    background-repeat: no-repeat;
    filter: invert(100%);
    cursor: pointer;
}