<app-root entrada=true></app-root>
<body>
    <section class="comentarios">
        <div class="post">
            <input type="text" (change)='myMessage()' [(ngModel)]='userChat.text' placeholder="Ingresa tu comentario...">
            <button>Postear</button>
        </div>

        <div *ngFor='let m of myMessages' >
            <app-post [userChat]=(m) [actualComponent]=actualComponent [isAdmin]=isAdmin (eventoHijo)="onMensajeHijo($event)" (eventoHijo2)="onMensajeHijo2($event)"></app-post>
        </div>
    </section>
</body>
