<app-root entrada=true></app-root>
<!-- <body>
    <section class="comentarios">
        <div class="post">
            <input type="text" (change)='myMessage()' [(ngModel)]='userChat.text' placeholder="Ingresa tu comentario...">
            <button>Postear</button>
        </div>

        <div *ngFor='let m of myMessages' >
            <app-post [userChat]=(m) [actualComponent]=actualComponent [isAdmin]=isAdmin (eventoHijo)="onMensajeHijo($event)" (eventoHijo2)="onMensajeHijo2($event)"></app-post>
        </div>
    </section>
</body> -->

<div id="mainProfileDiv">
    <div id="cajaIzq">
        <div class="cajaCont">
            <div class="fotoProfile"></div>
            <div class="contNombre">
                <div class="userIcon"></div> {{onlineUser}}
            </div>
            <div class="contCorreo">
                <div class="correoIcon"></div> {{correoUserOnline}}
            </div>
            
        </div>
    </div>
        <div id="cajaDer">
            <div class="contBusqueda">
                <input class="queryBar" placeholder="Buscar..." #inputToSearch (keyup.enter)='buscarProp(inputToSearch.value)' (keyup)='buscarProp(inputToSearch.value)' type="text">
                <div class="query" (click)="toSearch(1)"></div>
            </div>
            <div class="panelProp">
                <!-- <ng-container *ngFor='let m of myMessages' >
                    <app-post *ngIf="actualComponent=='Propuestas estudiantiles'" [userChat]=(m) [actualComponent]=actualComponent [isAdmin]=isAdmin (eventoHijo)="onMensajeHijo($event)" (eventoHijo2)="onMensajeHijo2($event)"></app-post>
                    <app-post *ngIf="actualComponent=='Apertura de cursos'" [userChat]=(m) [actualComponent]=actualComponent [isAdmin]=isAdmin (eventoHijo)="onMensajeHijo($event)" (eventoHijo2)="onMensajeHijo2($event)"></app-post>
                    <app-post *ngIf="actualComponent=='Proyectos'" [userChat]=(m) [actualComponent]=actualComponent [isAdmin]=isAdmin (eventoHijo)="onMensajeHijo($event)" (eventoHijo2)="onMensajeHijo2($event)"></app-post>
                </ng-container> -->
                
                <ng-container *ngIf="actualComponent=='Propuestas estudiantiles'">
                    <app-post *ngFor='let prop of propuestas' [userChat]=(prop) [actualComponent]=actualComponent [isAdmin]=isAdmin (eventoProp)="onMensajeProp($event)" (eventoCProp)="onCommentProp($event)" (eventoDeleteCProp)="onDeleteCommentProp($event)"></app-post>
                </ng-container>

                <ng-container *ngIf="actualComponent=='Apertura de cursos'">
                    <app-post *ngFor='let ap of aperturas' [userChat]=(ap) [actualComponent]=actualComponent [isAdmin]=isAdmin (eventoAp)="onMensajeAp($event)" (eventoCAp)="onCommentAp($event)" (eventoDeleteCAp)="onDeleteCommentAp($event)" ></app-post>
                </ng-container>

                <ng-container *ngIf="actualComponent=='Proyectos'">
                    <app-post *ngFor='let proy of proyectos' [userChat]=(proy) [actualComponent]=actualComponent [isAdmin]=isAdmin (eventoProy)="onMensajeProy($event)" (eventoCProy)="onCommentProy($event)" (eventoDeleteCProy)="onDeleteCommentProy($event)"></app-post>
                </ng-container>
                
            </div>
            <div class="cajaPrev">
                <img src="" class="previsualizacionIMG" alt="">
            </div>
            <div id="cajaSendMessage">
                <div class="masDocs" (click)='masDocs()'>
                    +
                    <input type="file" class="masDocs" style="position: absolute; opacity: 0;" (change)="photoManager($event)">
                </div>

                <!-- <input type="file" class="masDocs" (click)='masDocs()'> -->
                <input type="text" class="chatBox" (keyup.enter)='myMessage()' [(ngModel)]='userChat.text' placeholder="Ingresa tu proposición...">
                <button class="enviarP" (click)='myMessage()'>Enviar</button>
            </div>
        </div>
</div>
