#mainProfileDiv{
    display: flex;
    width: 100%;
    height: 80vh;
    font-family: 'Roboto', sans-serif;
}

#cajaIzq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-left: 2vw;
    width: 30%;
    height: 70%;
    background-color: white;
    border-radius: 1.5vw;
    box-shadow: 0px 0px 22px -11px rgba(0,0,0,0.75);
    /* position: fixed; */
}

.cajaCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 90%;
    /* background-color: red; */
    font-size: 1.2vw;
}

.fotoProfile{
    width: 13vw;
    height: 27vh;
    background-image: url('../../../assets/userProfileIcon.png');
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contNombre{
    display: flex;
    align-items: center;
    margin-top: 5vh;
    width: 100%;
    height: 4.5vh;
}

.userIcon{
    width: 2vw;
    height: 100%;
    margin-right: 0.8vw;
    background-image: url('../../../assets/login.png');
    background-position: center;
    background-size: 90% 90%;
    background-repeat: no-repeat;
}

.contCorreo{
    display: flex;
    align-items: center;
    margin-top: 3vh;
    width: 100%;
    height: 4.5vh;
}

.correoIcon{
    width: 2vw;
    height: 100%;
    margin-right: 0.8vw;
    background-image: url('../../../assets/correoIcon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contTelefono{
    display: flex;
    align-items: center;
    margin-top: 3vh;
    width: 100%;
    height: 4.5vh;
}

.telefonoIcon{
    width: 2vw;
    height: 100%;
    margin-right: 0.8vw;
    background-image: url('../../../assets/telefonoIcon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btnEdit{
    margin-top: 5vh;
    width: 100%;
    height: 8%;
    background-color: #F68B20;
    border-radius: 1vw;
    border: 0;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
}

#cajaDer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: 7.6vw;
    width: 75%;
    height: 85vh;
    box-shadow: 0px 8px 14px -6px rgba(0,0,0,0.75);
    border-bottom-right-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
}

#cajaSendMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 13vh;
    background-color: #f2f2f2;
    border-bottom-right-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
}

.chatBox{
    display: flex;
    padding-left: 0.5vw;
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 0.5vw;
    border: 0;
    
}

.masDocs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    height: 10vh;
    width: 5vw;
    font-size: 4vw;
    font-weight: 300;
}

.enviarP{
    margin-left: 2vw;
    width: 10vw;
    height: 50%;
    background-color: #F68B20;
    border: 0;
    border-radius: 0.6vw;
    color: white;
    cursor: pointer;
}

.panelProp{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    overflow-y: scroll;
}