<app-root entrada=true></app-root>
<!-- <body>
    <section class="comentarios">
        <div class="post">
            <input type="text" (change)='myMessage()' [(ngModel)]='userChat.text' placeholder="Ingresa tu comentario...">
            <button>Postear</button>
        </div>

        <div *ngFor='let m of myMessages' >
            <app-post [userChat]=(m) [actualComponent]=actualComponent [isAdmin]=isAdmin (eventoHijo)="onMensajeHijo($event)" (eventoHijo2)="onMensajeHijo2($event)"></app-post>
        </div>
    </section>
</body> -->

<div id="mainProfileDiv">
    <div id="cajaIzq">
        <div class="cajaCont">
            <div class="fotoProfile"></div>
            <div class="contNombre">
                <div class="userIcon"></div> {{onlineUser}}
            </div>
            
        </div>
    </div>
        <div id="cajaDer">
            <div class="panelProp">
                <div *ngFor='let m of myMessages' >
                    <app-post [userChat]=(m) [actualComponent]=actualComponent [isAdmin]=isAdmin (eventoHijo)="onMensajeHijo($event)" (eventoHijo2)="onMensajeHijo2($event)"></app-post>
                </div>
            </div>
            <div id="cajaSendMessage">
                <div class="masDocs">+</div>
                <input type="text" class="chatBox" (keyup.enter)='myMessage()' [(ngModel)]='userChat.text' placeholder="Ingresa tu proposición...">
                <button class="enviarP" (click)='myMessage()'>Enviar</button>
            </div>
        </div>
</div>
