<div *ngIf=mostrar>
    <div id="nav">
        <div class="mainheader">
            <div class="logoPRODUEMPAK" (click)="toHome()"></div>
            <div class="hoptions" #cont>
              <div class="headerOption" (click)="toOtherSection(propEst, cont)" #propEst> Propuestas estudiantiles </div>
              <div class="headerOption" (click)="toOtherSection(apCursos, cont)" #apCursos> Apertura de cursos </div>
              <div class="headerOption" (click)="toOtherSection(proy, cont)" #proy> Proyectos </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>