<div *ngIf=mostrar>
    <header id="nav">
        <div class="mainheader">
            <div class="logoUSBLive" (click)="toHome()"></div>
            <div class="hoptions" #cont>
              <div class="headerOption" (click)="toOtherSection(propEst, cont)" #propEst> Propuestas estudiantiles </div>
              <div class="headerOption" (click)="toOtherSection(apCursos, cont)" #apCursos> Apertura de cursos </div>
              <div class="headerOption" (click)="toOtherSection(proy, cont)" #proy> Proyectos </div>
            </div>
            <div class="logOut" (click)="onLogOut()">Cerrar sesión</div>
        </div>
    </header>
</div>
<router-outlet></router-outlet>