<app-root entrada=false></app-root>

<body>

    <div id="mainLoginContainer">
        <div class="loginCont">
            
            <div class="loginBackground">
                <div class="loginContainer">
                    <div class="titleLogin">
                        <div class="logoPpk"></div>
                    </div>
                    <input type="text" name="" id="nombreUser" placeholder="Correo" #user>
                    <input type="password" name="" id="contrasenaUser"  placeholder="Contraseña"  (keydown.enter)="onLogin(user.value,userPassword.value)" #userPassword>
                    <button class="ingresoUser" (click)="onLogin(user.value,userPassword.value)">Ingresar</button>
                </div>
            </div>
        </div>
    </div>

</body>