.panelProp{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    overflow-y: scroll;
}
.commentCont{
    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.userBox{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 6vw;
}

.userPicture{
    height: 10vh;
    background-image: url('../../../assets/userProfileIcon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.likeBox{
    display: flex;
    margin-top: 2vh;
    justify-content: center;
}

.likeButton{
    width: 45%;
    height: 4vh;
    background-image: url('../../../assets/like.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.likeCant{
    display: flex;
    align-items: center;
    width: 20%;
}

.propBox{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 1.5vh 1vw 2vh 1vw;
    background-color: #f2f2f2;
    border-radius: 1vw;
}

.messageBox{
    display: flex;
}

.toComentBox{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    height: 6vh;
}

.myTextCamp{
    width: 70%;
    height: 100%;
    padding-left: 0.5vw;
    background-color: white;
    border: 0;
    border-radius: 0.5vw;
}

.enviarC{
    margin-left: 1vw;
    width: 10vw;
    height: 100%;
    background-color: #F68B20;
    border: 0;
    border-radius: 0.6vw;
    color: white;
    cursor: pointer;
}