<div class="contenedor">
    <div class="perfil">
        <img class="imgPerfil" src="../../../assets/cara.jpg" alt="">
        <p class="nombre-user">{{userChat.user}}</p>
        <div class="eliminarPost" *ngIf='isAdmin' (click)='onEliminarPost(this)'>X</div>
    </div>

    <div class="comentario">
        <p>{{userChat.text}}</p>
    </div>

    <div class="linea-division">
        <img style="width: 30px; height: 30px; cursor: pointer;" (click)='like(this)' src="../../../assets/like.svg" alt="">
        <span>{{userChat.likes}}</span>
        <button class="verLikesAdmin" *ngIf='isAdmin' (click)='verLikesAdmin()'>Ver likes</button>
    </div>

    <div class="commentContainer">
        <input type="text" name="" id="" placeholder="Escribe tu comentario aqui" class="inputComentarios" #inputComment>
        <button class="comentarButton" (click)='makeAComment(this,inputComment)'> Comentar</button>
    </div>

    <app-comment *ngFor='let m of userChat.userComments' [userComments]=m [isAdmin]=isAdmin [userChat]=this.userChat></app-comment>
</div>