<div class="commentCont">
    <div class="userBox">
        <div class="userPicture"></div>
        <div class="likeBox">
            <div class="likeButton" (click)='like(this)'></div>
            <div class="likeCant">{{userChat.likes}}</div>
        </div>
    </div>
    <div class="propBox">
        <div class="messageBox">{{userChat.text}}
        </div>
        <div class="toComentBox">
            <input type="text" class="myTextCamp" placeholder="Escribe tu comentario aquí" (keyup.enter)='makeAComment(this,inputComment)' #inputComment>
            <button class="enviarC" (click)='makeAComment(this,inputComment)'>Comentar</button>
        </div>

        <app-comment *ngFor='let m of userChat.userComments' [userComments]=m [isAdmin]=isAdmin [userChat]=this.userChat></app-comment>
    </div>
    <!-- <button class="borrar" *ngIf='isAdmin' (click)='verLikesAdmin()'></button> -->
</div>